<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Robert's Pinball</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#topofpage">HOME</a></li>
                    <li><a href="#bottomofpage">BOTTOM OF PAGE</a></li>
                </ul>
            </nav>
        </header>

        <div id="gamecanvas">
            <h2>Frontend Test</h2>
            <canvas id="gameCanvas" width="600", height= "800">HTML 5 Canvas Element Not Supported</canvas>
            <script src="{{url_for ('static', filename='Javascript/pinball.js')}}"></script>
        </div>
    </body>

</html>